[user]
  name = Gabriel Lievano
  email = jglievano@gmail.com

[github]
  user = jglievano

[core]
  editor = vim
  filemode = false
  trustctime = false
  autocrlf = input
  untrackedCache = true
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore

[pull]
  rebase = false

[credential]
  helper = osxkeychain

[grep]
  lineNumber = true

[help]
  autocorrect = 1

[push]
  default = simple
  followTags = true

[fetch]
  prune = true

[alias]
  amend = commit --amend --reuse-message=HEAD
  br = branch
  ci = commit
  co = checkout
  diff = diff --word-diff
  g = grep --break --heading --line-number
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ll = log --pretty=oneline --graph --abbrev-commit
  p = push
  pf = push --force
  st = status
  stl = ls-files -m -o --exclude-standard
  sts = status -sb
  unstage = reset --hard HEAD

[diff]
  renames = copies
  indentHeuristic = true
  tool = Kaleidoscope

[difftool]
  prompt = false

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool "sourcetree"]
  cmd = ksdiff -w \"$LOCAL\" \"$REMOTE\"
  path =

[merge]
  tool = Kaleidoscope
  conflictstyle = diff3
  defaultToUpstream = true

[mergetool]
  prompt = false

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[mergetool "sourcetree"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true


[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[include]
  path = ~/.local.git
